<div class="card-list-container py-5">
 <% @posts.each do |posts| %>
 <div class="card w-50 mx-auto mt-4 shadow-lg">

  <% if posts.get_image.attached? %>
  <%= link_to post_path(posts.id) do %>
    <%= image_tag posts.get_image, class:"card-img-top"; %>
   <% end %>
  <% end %>
   <div class="card-body">
      <div class="row">
        <div class="col-2">
  <!--投稿ユーザー画像-->
  <%= image_tag posts.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
        </div>
    <div class="col-10">
          <p class="card-text">
            <%= link_to(post_path(posts.id), class:"text-dark") do %>
             <%= posts.post %>
            <% end %>
          </p>
  <span><i class="fas fa-user"></i> By <%= posts.user.name %>｜ </span>


  <% if @post. liked_by?(current_user) %>
      <span><%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね｜</span>
      <% end %>
    <% else %>
     <span> <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね｜</span>
      <% end %>
  <% end %>



  <% if @post. amazingd_by?(current_user) %>
       <span><%= link_to post_amazings_path(@post), method: :delete do %>
        ♥<%= @post.amazings.count %> えらいね｜</span>
      <% end %>
    <% else %>
       <span><%= link_to post_amazings_path(@post), method: :post do %>
        ♡<%= @post.amazings.count %> えらいね｜</span>
      <% end %>
  <% end %>


    <% if @post. greatd_by?(current_user) %>
     <span> <%= link_to post_greats_path(@post), method: :delete do %>
        ♥<%= @post.greats.count %> すごいね｜</span>
      <% end %>
    <% else %>
      <span><%= link_to post_greats_path(@post), method: :post do %>
        ♡<%= @post.greats.count %> すごいね｜</span>
      <% end %>
  <% end %>

  <span> </span>


         </div>
       </div>
    </div>
   </div>
<% end %>
<%= paginate @posts %>
</div>