<div class="container">
<h2 class="text-center mt-2 mb-2">検索結果一覧</h2>

<table class="table table-hover table-inverse table-borderless">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="col-2"><%= image_tag user.get_profile_image(60,60), class:"mt-3 rounded-circle"; %></td>
          <td><%= link_to "#{ user.name }",user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
    <tbody>
      <% @posts.each do |post| %>
        <tr>
        <td class="col-3">
          <% if post.get_image.attached? %>
           <%= link_to post_path(post.id) do %>
       <%= image_tag post.get_image, class: "card-img-top" %>
          <% end %>
        <% end %>
       </td>
          <td><%= link_to "#{ post.post }",post_path(post.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>