<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
   <% if @post.get_image.attached? %>
    <%= image_tag @post.get_image %>
   <% end %>
      <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= link_to admin_user_path(@post.user) do %>
           <%= image_tag @post.user.get_profile_image(60,60), class:"mt-3 rounded-circle"; %>
          <% end %>
        </div>
   <div class="col-10">
     <p class="card-title">
      <%= @post.post %>
     </p>
     <span>
      <i class="fas fa-user"></i> By <%= @post.user.name %>｜
     </span>
     <span>
       <i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %>｜
     </span>
    <span> <%= link_to "権利者権限で削除",  post_path(@post), class: 'btn btn-warning', method: :delete %>
    </span>



 <hr>
 <div class="comments card-text">
   <h4 class="mt-3"><%= @post.comments.count %>件コメント</h4>
 </div>
 <hr>
    <div class="card-body">
      <div class="row">
        <% @post.comments.each do |post_comment| %>
          <div class="col-2">
              <%= link_to admin_user_path(post_comment.user) do %>
            <%= image_tag post_comment.user.get_profile_image(50,50) %>
            <% end %>
          </div>
          <div class="col-10">
             <p class="card-title">
              <p><%= post_comment.user.name %> | <%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
              <p><b><%= post_comment.comment %></b></p>
               <%= link_to '管理者の権限で削除', admin_post_comment_path(@post.id, post_comment.id),class: "btn btn-warning", method: :delete %>
              <hr>
           </div>
        <% end %>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
      </div>
   </div>