<div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-5">
      <%= image_tag @user.get_profile_image(100,100) %>

  <h5 class="profile-name display-4"><%= @user.name %></h5>


   <div class="mt4-auto">
      <p><%= link_to "フォロー数: #{ @user.followings.count }",user_followings_path(@user), class: "text-warning" %></p>
   </div>
   <div class="mt4-auto">
     <p><%= link_to "フォロワー数: #{ @user.followers.count }",user_followers_path(@user), class: "text-warning" %></p>
   </div>
   <div class="mt4-auto">
      <%= link_to '管理者の権限で削除', admin_user_path(@user), class: "btn btn-warning",method: :delete %>
   </div>
   
   <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>
 <div class="custom-control custom-radio">
   <%= f.label :user_status, '会員ステータス' %>
   <%= f.radio_button :user_status, false %> <%= f.label :有効 %>
   <%= f.radio_button :user_status, true %> <%= f.label :退会 %>
 </div>
 <%= f.submit "ステータスを更新" %>
<% end %>
   
   
</div>


<%= render 'public/users/list', resources: @posts %>

