
<div class="card-list-container py-5">
  <% resources.each do |resource| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%#= 画像を投稿しなかった場合、画像を表示しない %>
    <% if resource.get_image.attached? %>
     <%= link_to post_path(resource.id) do %>
      <%= image_tag resource.get_image, class:"card-img-top"; %>
     <% end %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag resource.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-text">
            <%= link_to(post_path(resource.id), class:"text-dark") do %>
            <%= resource.post %>
            <% end %>
          </p>

          <span><i class="fas fa-user"></i> By <%= resource.user.name %> ｜ </span>
          <% if admin_signed_in? %>
            <%= link_to '管理者の権限で削除ぉぉ', admin_post_path(resource.id), method: :delete %>
          <% end %>
          <% unless admin_signed_in? %>
            <div id="like_etc-<%= resource.id %>" >
              <%= render 'public/posts/likes_etc', post: resource %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
